# no pycache
__pycache__/

# no build dir
/build
/dist

# no executables (for now)
*.exe

#do not include the upx compressor directory (you can get this utility from https://upx.github.io/)
/upx

# no IDE stuff
/.vscode
/.idea

# But do keep tasks file
!/.vscode/tasks.json

# no PowerShell scripts
*.ps*

# no images output
/images

# no pip installer
get-pip.py

# do not include the macro used to simulate the command line
_test_macro.py

# no get pip
get-pip.py

# no super nintendo files
*.smc

# no super famicom files
*.sfc

# no gamefiles
gamefiles/

# no ani_settings file
ani_settings.json

# no working dirs file
working_dirs.json

# no palette writers file
palette_writers.json

# no custom files
custom/
resources/user/**/sheets
resources/tmp/*
resources/**/stamped.png
