# no pycache
__pycache__/

# no build dir
/build

# no vscode
/.vscode

# no images output
/images
/animations

# no pip installer
get-pip.py

# do not include the macro used to simulate the command line
_test_macro.py

# no super nintendo files
*.smc

# no super famicom files
*.sfc
