# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
# JavaScript
*.js text
# Markdown
*.md text
# Shell script
*.sh text
# python script
*.py text
# Cascading Style Sheets
*.css text
# Disabled files
*.off text
# Plain-text
*.txt text
# Yet Another Markup Language
*.yml text
*.yaml text
# HyperText Markup Language
*.html text
# JavaScript Object Notation
*.json text

# Denote all files that are truly binary and should not be modified.
# Icon
*.ico binary
# Graphics Interchange Format (Choosy Geeks Choose GIF!)
*.gif binary
# Portable Network Graphics
*.png binary
# Retro Data Container
*.rdc binary
# Zarby Sprite
*.zspr binary
