# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
# JavaScript
*.js text filter=tabspace2
# Markdown
*.md text
# Shell script
*.sh text filter=tabspace2
# python script
*.py text filter=tabspace2
# python spec
*.spec text filter=tabspace2
# Cascading Style Sheets
*.css text filter=tabspace2
# Disabled files
*.off text filter=tabspace2
# Plain-text
*.txt text
# Yet Another Markup Language
*.yml text
*.yaml text
# HyperText Markup Language
*.html text filter=tabspace2
# JavaScript Object Notation
*.json text filter=tabspace2

# Denote all files that are truly binary and should not be modified.
# Icon
*.ico binary
# Graphics Interchange Format (Choosy Geeks Choose GIF!)
*.gif binary
# Portable Network Graphics
*.png binary
# Retro Data Container
*.rdc binary
# Zarby Sprite
*.zspr binary

# Make SPEC files highlight as Python files
*.spec linguist-language=Python
